html, body {
    background-color: #70CF51;
    font-family: 'Press Start 2P', cursive;
    overflow:hidden;
    margin:0px; padding:0px;
    background-image: url('../images/grass.png');
    background-repeat: repeat;
    color:white;
    font-size:22px;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    overflow:hidden;
    background-repeat: no-repeat;
}

game, ui {
    width:100%; height:100%;
}

bar {
    left:20px;top:100px;
    width:143px;height:16px;
    background-color:#92E3FF;
}

heart {
    transform:translate(14px,18px);
    width:36px; height:32px;
    background-image: url('../images/heart.png');
}

lifebar {
    transform:translate(61px,22px);
    width:221px; height:24px;
    border:3px solid white;
    border-radius:10px;
    background-image: url('../images/life.png');
}

/* progressbar in een andere div plaatsen, size is 0 tot 100 procent */
progressbar {
    position:relative;
    width:0%; height:100%;
    
    border-radius:6px;
    user-select: none;
    cursor:default;
}

lifebar progressbar {
    background-color:greenyellow;
}

towerbutton progressbar {
    background-color:rgba(255,255,255,0.4);
}

coinbutton{
    right:20px; bottom:200px;
    width:128px; height:70px;
    cursor:pointer;
    border-radius:7px;
    background-image: url('../images/button_coin.png');
}

bulletbutton{
    right:20px; bottom:110px;
    width:128px; height:70px;
    cursor:pointer;
    border-radius:7px;
    background-image: url('../images/button_bullet.png');
}

towerbutton{
    right:20px; bottom:20px;
    width:128px; height:70px;
    cursor:pointer;
    border-radius:7px;
    background-image: url('../images/button_tower.png');
}

towerbutton:hover, bulletbutton:hover, coinbutton:hover{
    transform: scale(1.05, 1.05);
    box-shadow: 2px 2px 10px #000;
}

zombie {
    width:24px; height:43px;
    background-image: url('../images/zombie.png');
}

coin{
    right:158px; top:10px;
    width:38px; height:38px;
    background-image: url('../images/coin.png');
}

counter{
    right:40px; top:20px;
    width:108px; height:38px;
    user-select: none;
    cursor:default;
}

gameover{
    width: 100px;height: 50px;
}

.blinking {
    animation: blinking 0.5s infinite alternate;
}

/* towers */

.small-tower {
    width: 93px; height: 113px;
    background-image: url('../images/smalltower.png');
}

.singleshot-tower {
    width: 95px; height: 186px;
    background-image: url('../images/singleshottower.png');
}
zombie {
	width:67px; min-height:146px;
	background-image: url('../images/zombie.png');
    cursor:pointer;
}
ui-coins {
    width: 150px; height: 50px;
    top: 30px; right: 100px;
    background-color: white;
}
.multishot-tower {
    width: 93px; height: 208px;
    background-image: url('../images/multishottower.png');
}

bullet-red {
    width: 16px; height: 16px;
    background-image: url('../images/bulletred.png');
}
bullet-blue {
    width: 16px; height: 16px;
    background-image: url('../images/bulletblue.png');
}

/* blink animatie */

@keyframes blinking {
    from { opacity:0.2; }
    to { opacity:1; }
}
